[package]
name = "dfrs"
version = "0.0.1"
authors = ["anthraxx <levente@leventepolyak.net>"]
edition = "2018"
license = "MIT"
license-file = "LICENSE"

[dependencies]
nix = "0.13.0"
libc = "0.2.48"
failure = "0.1.5"
colored = "1.7.0"
# termcolor = "1.0.4"
