[package]
name = "dfrs"
version = "0.0.4"
description = "Display file system space usage using graphs and colors"
authors = ["anthraxx <levente@leventepolyak.net>"]
edition = "2018"
license-file = "LICENSE"
repository = "https://github.com/anthraxx/dfrs"
categories = ["command-line-utilities"]

[dependencies]
nix = "0.17"
anyhow = "1.0"
colored = "1.9"
structopt = "0.3"
log = "0.4"
env_logger = "0.7"
strum = "0.18"
strum_macros = "0.18"
# termcolor = "1.0"

[profile.release]
lto = true
codegen-units = 1
