[package]
name = "dfrs"
version = "0.0.1"
description = "Display file system space usage using graphs and colors"
authors = ["anthraxx <levente@leventepolyak.net>"]
edition = "2018"
license-file = "LICENSE"
repository = "https://github.com/anthraxx/dfrs"
categories = ["command-line-utilities"]

[dependencies]
nix = "0.17.0"
libc = "0.2.69"
failure = "0.1.7"
colored = "1.9.3"
structopt = "0.3.14"
log = "0.4.8"
env_logger = "0.7.1"
strum = "0.18.0"
strum_macros = "0.18.0"
# termcolor = "1.0.4"
