name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * 0' # once a week

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: CI with ${{ matrix.rust }} on ${{ matrix.os }} for ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        rust: [stable, beta, nightly]
        arch:
        - x86_64-unknown-linux-gnu
        - i686-unknown-linux-musl
        - armv5te-unknown-linux-gnueabi
        - armv7-unknown-linux-gnueabihf
        - aarch64-unknown-linux-gnu
        - powerpc64le-unknown-linux-gnu
        - mipsel-unknown-linux-gnu
        - mips64el-unknown-linux-gnuabi64
        - s390x-unknown-linux-gnu

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        target: ${{ matrix.arch }}
        override: true
        components: rustfmt, clippy

    - uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: build
        args: --target ${{ matrix.arch }}

    - uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: test
        args: --target ${{ matrix.arch }}

    - name: cargo fmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: cargo clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: -- -D warnings
